.branding-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 24px;
  padding: 60px 20px 80px;
  max-width: 100vw;
  margin: 0 auto;
  overflow-x: none;
}

.branding-item {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 12px;
  background: #f9f9f9;
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  text-align: left;
}

.branding-item h3 {
  margin-top: 0;
  font-size: 18px;
  font-weight: bold;
}

.button-link {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 14px;
  background-color: black;
  color: white;
  font-family: 'DM Sans', sans-serif;
  font-weight: bold;
  border-radius: 4px;
  text-decoration: none;
  transition: background 0.2s ease;
}

.button-link:hover {
  background-color: #333;
}

.branding-item.logo img,
.branding-item.graphics img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.branding-item.color {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  color: white;
  font-weight: bold;
  text-align: center;
  border: none;
}

.color1 { background-color: #d04d27; }
.color2 { background-color: #3f3c3c; }
.color3 { background-color: #8c8c94; color: black; }


video {
  width: 100vw;
}


/*PDF VIEWER*/

#pdfViewerContainer {
  position: relative;
  width: 70vw;
  text-align: center;
  background: #fff;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

#pdfCanvas {
  max-width: 80vw;
  height: auto;
}

.pdf-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  border: none;
  
  font-weight: bold;
  z-index: 2;
  background-color: #d04d27;
  mix-blend-mode: difference;
}

.pdf-nav.left {
  left: 10px;
}

.pdf-nav.right {
  right: 10px;
}

#pageIndicator {
  margin-top: 12px;
  font-family: 'DM Sans', sans-serif;
  font-weight: bold;
}

.pdf-thumb {
  width: 100%;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 8px;
}

@media (max-width: 767px) {
  #pdfViewerContainer {
    position: relative;
    width: 100vw;
    text-align: center;
    background: #fff;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  .pdf-nav {
    position: absolute;
    top: 50%;
    transform: translateY(280%);
    font-size: 2rem;
    border: none;
    
    font-weight: bold;
    z-index: 2;
    background-color: #ffffff;
    mix-blend-mode: difference;
  }

  .pdf-nav.left {
    left: 20px;
  }
  
  .pdf-nav.right {
    right: 20px;
  }
}

