html {
  scroll-behavior: smooth;
}

/* General Styles */
body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: fit-content;
    background-color: #1a1a1a; /* Almost black background */
    color: white; /* White text for contrast */
    width: 100vw;
    
  }

  #introduction a {
    color: white;
    text-decoration: none;
    padding: 15px;
    background: rgba(100, 100, 100, 0.3);
    border-radius: 50px;
    border: 0.5px solid rgba(255, 255, 255, 0.176);
    margin-top: 20%;
  }

  #introduction p {
    margin-bottom: 40px;
  }
  
  #logo img {
    width: 40%;
  }

  #introduction a:hover {
    background: linear-gradient(45deg, #a5a5a584, #38383855); /* Reverse or change the gradient */
    transform: scale(1.02); /* Slightly increase the button size on hover */
  }
  
  /* Navbar */
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background: rgba(0, 0, 0, 0.0);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    z-index: 300;
  }
  
  .logo {
    height: 20px;
    align-items: center;
  }
  
  .home_button {
    padding: 10px 13px;
    margin: 5px;
    backdrop-filter: blur(10px);
    border: 0.5px solid rgba(255, 255, 255, 0.176);
    background: rgba(100, 100, 100, 0.3);
    color: white;
    cursor: pointer;
    border-radius: 50px; /* Sleek rounded corners */
    align-items: center;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }

  .home_button:hover {
    
    
    background: linear-gradient(45deg, #a5a5a584, #38383855); /* Reverse or change the gradient */
    transform: scale(1.02); /* Slightly increase the button size on hover */
  }
  
  .circle-button {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(100, 100, 100, 0.3);
    border: 0.5px solid rgba(255, 255, 255, 0.176);
    border-radius: 50%;
    color: white;
    font-size: 150%;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    backdrop-filter: blur(10px);
  }
  
  .circle-button:hover {
    
    transform: scale(1.02); /* Slightly increase the button size on hover */
    background: linear-gradient(45deg, #a5a5a584, #38383855); /* Reverse or change the gradient */
    color: #fff;
  }
  
  /* Overlay */
  /* Base styles for the overlay */
  .overlay {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: transform 0.3s ease, opacity 0.3s ease;
    transform: scale(1.1); /* Slightly zoomed-in when hidden */
    opacity: 0; /* Transparent when hidden */
  }

  /* When the overlay is visible */
  .overlay.active {
    display: flex;
    transform: scale(1); /* Normal size */
    opacity: 1; /* Fully visible */
  }

  /* Overlay content collapse animation */
  .overlay-content {
    background: rgba(100, 100, 100, 0.3);
    padding: 20px;
    border-radius: 22px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: fit-content;
    height: fit-content;
    transform: scale(0.9); /* Slightly smaller when hidden */
    backdrop-filter: blur(10px);
  }

  .overlay.active .overlay-content {
    transform: scale(1); /* Grow to full size */
  }
  
  .card {
    background: white;
    padding: 20px;
    margin: 10px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 50%;
    color: #000;
  }
  
  .profile {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  
  .close-button {
    position: absolute;
    height: 40px;
    width: 40px;
    top: 20px;
    right: 20px;
    background: white;
    border: none;
    padding: 10px;
    border-radius: 50%;
    font-size: 18px;
    cursor: pointer;
  }
  
  /* Book Container */
  h1 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 60px;
    color: white;
    text-align: center;
  }
  
  .book-container {
    width: 590px; /* Scaled for A5 format */
    height: 418px; /* Maintain 3:2 proportions */
    display: flex;
    flex-direction: row;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
  }
  
  .page {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    overflow: hidden;
    position: relative;
  }
  
  canvas {
    max-width: 100%;
    max-height: 100%;
  }
  
  /* Magnifier */
  .magnifier {
    position: absolute;
    width: 150px;
    height: 150px;
    border: 2px solid #000;
    border-radius: 50%;
    overflow: hidden;
    pointer-events: none;
    display: none;
    z-index: 1000;
  }
  
  .magnifier canvas {
    position: absolute;
    transform: scale(2); /* Adjust magnification scale */
    transform-origin: top left;
  }
  
  /* Buttons */
  .button-container {
    margin-top: 20px;
    text-align: center;
  }
  
  button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent blue */
    color: white;
    cursor: pointer;
    border-radius: 12px; /* Sleek rounded corners */
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  button:hover {
    color: #000;
    background-color: rgba(255, 255, 255, 1); /* Solid blue on hover */
    transform: scale(1.05); /* Slightly increase the button size on hover */
  }
  
  button:disabled {
    background-color: rgba(204, 204, 204, 0.7); /* Semi-transparent gray for disabled state */
    cursor: not-allowed;
  }


  .news-container {
    max-width: 40%;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Inter', sans-serif;
    line-height: 1.6;
    overflow: hidden;
  }
  
  .news-item {
    margin-bottom: 40px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
  }
  
  .news-photo {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  
  .news-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  
  .news-meta {
    font-size: 14px;
    color: #888;
    margin-bottom: 20px;
  }
  
  .news-content {
    font-size: 16px;
    color: #dedede;
  }
  


.folder-container {
  position: relative;
  width: 150px;
  cursor: pointer;
}
.folder {
  width: 100%;
  transition: transform 0.3s ease-in-out;
}
.photos {
  position: absolute;
  top: -10px;
  left: 5px;
  width: 90%;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.folder-container:hover .folder {
  transform: translateY(-20px);
}
.folder-container:hover .photos {
  opacity: 1;
  transform: translateY(0);
}

#intro {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
  overflow: hidden;
  transition: opacity 0.5s ease; /* Smooth fading for the intro */
}

#intro-text {
  font-family: "headline-gothic-atf", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 10vw;
  font-weight: 700;
  color: white;
  pointer-events: none;
  transform-origin: center;
  transition: transform 0.5s ease, opacity 0.5s ease; /* Smooth text scaling and fading */
}

#content {
  margin-top: 100vh; /* Push the content below the intro section */
  padding: 2em;
  background-color: white;
}

#username {
  position: absolute;
 /* Keep it fixed at the bottom center of the page */
  bottom: 20px; /* Distance from the bottom of the page */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Adjust alignment for perfect centering */
  font-size: 16px; /* Adjust font size */
  font-family: 'Inter', sans-serif; /* Choose a clean font */
  color: white; /* Match the theme of your animation */
  opacity: 0.8; /* Slight transparency for a subtle look */
  z-index: 10; /* Ensure it stays above other elements */
}

#square {
  height: 100vh;
  width: 100vw;
  color: grey;
}





.fixed-button {
  padding: 10px 13px;
  position: fixed;
  margin: 5px;
  bottom: 3%;
  left: 2%;
  backdrop-filter: blur(10px);
  border: 0.5px solid rgba(255, 255, 255, 0.176);
  background: rgba(100, 100, 100, 0.3);
  color: white;
  cursor: pointer;
  border-radius: 50px; /* Sleek rounded corners */
  align-items: center;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.fixed-button:hover {
  background: linear-gradient(45deg, #a5a5a584, #38383855); /* Reverse or change the gradient */
  transform: scale(1.02); /* Slightly increase the button size on hover */
  color: white;
}

#backtoprojects {
  top: 15px;
  bottom: auto;
  background-color: none;
  border: none;
  background: none;
  z-index: 100;
  text-decoration: none;
  z-index: 9999;
}

#backtoprojects:hover {
  background: linear-gradient(45deg, #a5a5a584, #38383855); /* Reverse or change the gradient */
  transform: scale(1.02); /* Slightly increase the button size on hover */
  color: white;
  border: 0.5px solid rgba(255, 255, 255, 0.176);
  border-radius: 50px; /* Sleek rounded corners */
}

.links-column {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Space between links */
  top: 50%;
  margin: 10px;
  right: 20px;
  width: 30%;
  transform: translateY(-50%);
}

.overlay-link {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  text-decoration: none;
  color: #ffffff; /* White color */
  background-color: #444; /* Subtle background for better visibility */
  padding: 10px 20px;
  margin: 10px;
  border-radius: 10px;
  transition: background-color 0.3s, transform 0.2s;
}

.overlay-link:hover {
  background-color: #ffffff; /* Highlight on hover */
  color: #444;
  transform: scale(1.05);
}

/* Footer Styles */
footer {
  color: #fff;
  padding: 30px 0;
  text-align: center;
  width: 100vw;
}

.footer-content p {
  font-size: 1.5em;
  font-weight: 600;
  margin-bottom: 10px;
}

.footer-content a {
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  transition: color 0.3s ease;
}

.footer-content a:hover {
  color: #ccc;
}

.footer-bottom {
  margin-top: 20px;
  border-top: 1px solid #444; /* Light border for separation */
  padding-top: 10px;
}

.footer-bottom p {
  font-size: 0.9em;
  font-weight: 300;
}

#tabella {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  justify-content: center;
  height: 73vh;
  width: 100vw;
}

#form {
  width: 30vw;
  margin: 20vh;
}

h1 {
  margin: 10%;
}

.square-container {
  display: flex; /* Flexbox for squares */
  gap: 2vw; /* Spacing between the squares */
  align-items: center;
  justify-items: center;
  align-content: center;
}

.square {
  width: 5vw; /* Set square size */
  height: 5vw; /* Equal width and height for a square */
  background-color: #0073e6; /* Default color for squares */
}

#square1 {
  background-color: #ffffff; /* Default color for squares */
}

#square2 {
  background-color: #9A1F20; /* Default color for squares */
}

#square3 {
  background-color: #3A3A3A; /* Default color for squares */
}


/* General Section Styling */
.section {
  margin: 50px auto;
  padding: 20px;
  text-align: center;
}

.section h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}

.section img {
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
}

.section p {
  font-size: 1rem;
  line-height: 1.6;
  color: #ffffff;
}

/* Color Palette Styling */
.colors {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.color-swatch {
  width: 50px;
  height: 50px;
  margin: 0 10px;
  border: 1px solid #ccc;
}
#typography h2 {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
}

#typography #light {
  font-family: Helvetica, sans-serif;
  font-weight: lighter;
}


/*SIDEBAR*/

/* Sidebar styles */


.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 10px;
}

.sidebar-link {
  color: #818181;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  transition: color 0.3s;
}

.sidebar-link:hover,
.sidebar-link.highlight {
  color: #fff;
  font-weight: bold;
}


/* PAGE ANIMATIONS */
#transition-cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(0);
  transition: transform 1s ease-in-out;
  z-index: 9999;
}


#transition-cover.show {
  transform: translateY(0); /* Full screen */
}

#transition-cover.move-down {
  transform: translateY(+100%); /* Moves up and disappears */
}

#transition-cover img {
  width: 100px;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

#transition-cover.move-down img {
  opacity: 0; /* Fade in logo when transition completes */
}

/* Ensure the rest of the page is unclickable during the animation */
body {
  pointer-events: auto;
}

body.locked {
  pointer-events: none;
}




/* Default styles are for larger screens. */

/* Extra Large Screens (1200px and above) */
@media (min-width: 1200px) {
  #logo img {
    width: 30%;
  }

  .news-container {
    max-width: 30%;
  }

  .book-container {
    width: 700px; /* Adjust for larger screens */
    height: 500px;
  }
}

/* Large Screens (992px - 1199px) */
@media (max-width: 1199px) and (min-width: 992px) {
  .news-container {
    max-width: 50%;
  }

  .book-container {
    width: 600px;
    height: 450px;
  }

  #logo img {
    width: 35%;
  }
}

/* Medium Screens (768px - 991px) */
@media (max-width: 991px) and (min-width: 768px) {
  body {
    padding: 10px;
  }

  .news-container {
    max-width: 70%;
  }

  #logo img {
    width: 50%;
  }

  .book-container {
    width: 500px;
    height: 350px;
  }

  .circle-button {
    width: 35px;
    height: 35px;
    font-size: 120%;
  }
}

/* Small Screens (576px - 767px) */
@media (max-width: 767px) and (min-width: 576px) {
  body {
    flex-direction: column;
    padding: 15px;
  }

  #logo img {
    width: 60%;
  }

  .book-container {
    width: 100%;
    height: auto;
  }

  .news-container {
    max-width: 90%;
  }

  .fixed-button {
    font-size: 14px;
    padding: 8px 10px;
  }
}

/* Extra Small Screens (up to 575px) */
@media (max-width: 575px) {
  body {
    padding: 10px;
    flex-direction: column;
  }

  #logo img {
    width: 70%;
  }

  #square {
    height: 40vh;
  }

  .book-container {
    flex-direction: column;
    width: 100%;
    height: auto;
  }

  .news-container {
    max-width: 95%;
    padding: 10px;
  }

  h1 {
    font-size: 28px;
  }

  .sidebar {
    display: none;
  }
  

  .home_button {
    font-size: 14px;
    padding: 8px 10px;
  }

  .fixed-button {
    font-size: 12px;
    padding: 6px 8px;
  }
}

/* Main Sidebar Styles */
#sidebarbox {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 200px; /* You can adjust the width */
  
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: transform 0.5s ease-in-out; /* Smooth transition for sliding */
  transform: translateX(15); /* Default position (visible) */
  z-index: 10; /* Ensure it's above other content */
}

/* Hidden sidebar */
#sidebarbox.hidden {
  transform: translateX(-100%); /* Slide it off-screen */
}

/* Sidebar content styles (if using .sidebar for internal content) */
.sidebar {
  transform: translateY(-50%);
  position: fixed;
  top: 50%;
  left: 2%;
  width: auto;
  height: auto;
  padding: 15px;
  background: linear-gradient(45deg, #a5a5a537, #38383800); /* Adjust gradient */
  border-radius: 50px;
  border: 0.5px solid rgba(255, 255, 255, 0.176);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 20; /* Ensure this stays above #sidebarbox */
  padding-right: 5%;
}


#pdf-viewer-container {
  width: 60%; /* Set the container width to 60% of the page */
  margin: 20px auto;
  text-align: center;
}

#pdf-viewer {
  position: relative;
  margin-bottom: 20px; /* Space between the viewer and the thumbnails */
}

canvas {
  border-radius: 22px;
  border: 0.5px solid rgba(255, 255, 255, 0.176);
  width: 100%;
  height: auto;
}

.side-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px 15px;
  font-size: 16px;
  background-color: #000000;
  border: 1px solid #dfdfdfb9;
  cursor: pointer;
  z-index: 20;
}

.left {
  left: 0; /* Position on the left side */
}

.right {
  right: 0; /* Position on the right side */
}

#thumbnails-container {
  overflow-x: auto;
  white-space: nowrap;
  margin-top: 20px;
  padding: 10px 0;
}

#thumbnails-container canvas {
  cursor: pointer;
  margin-right: 10px;
  border-radius: 10px;
  width: 80px; /* Set a fixed width for the thumbnails */
  border: 1px solid #dddddd00;
  height: auto; /* Maintain aspect ratio */
}

#thumbnails-container canvas:hover {
  border: 1px solid #ddd;
}

.navigation {
  margin: 10px;
  text-align: center;
}

.navigation span {
  font-size: 16px;
}